@import 'colors/tokyonight.css';

* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: "NotoSansM Nerd Font Mono", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @black;
}

.modules-left {
    margin-left: 12px;
}

.modules-center {
    font-weight: bold;
}

.modules-right {
    margin-right: 12px;
}

tooltip {
    background-color: @bg0;
    border: 1px solid @black;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    padding: 5px 0;
    margin: 0;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 3px 0 0;
    border-radius: 30px;
    color: @fg;
    background-color: @bg0;
    min-width: 25px;
}

#workspaces button.focused {
    background-color: @fg;
    color: @bg0;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @fg;
    color: @bg0;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    background-size: 400% 400%;
}

/* Optional: useful if you use persistent-workspaces */
#workspaces button.persistent {
    color: @fg;
    opacity: 0.7;
}

/* Optional: useful if you want empty persistent workspaces dimmed */
#workspaces button.empty {
    opacity: 0.5;
}

/* Optional: useful on multi-monitor setups */
#workspaces button.current_output {
    border-color: @fg;
}

#battery,
#pulseaudio,
#bluetooth,
#memory,
#network {
    padding: 0;
    margin: 0 0 0 12px;
    border: 1px solid @black;
}

#clock {
    color: @fg;
}

#pulseaudio {
    color: @fg;
}

#bluetooth {
    color: @fg;
}

#network {
    color: @fg;
}

#battery {
    color: @fg;
}
